.container__card{
    width: 500px;
}
.card{
    background-color: transparent;
}
.card__header{
    /* background-image: url(../assets/images/kill-bill-vol-1-i97652.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
}
.card__img{
    display: block;
    height: 100%;
}
.card__main{
    width: 60%;
}
.card__sinopsis{
    font-size: 0.8rem;
}
.card__button{
    border: 1px solid red;
}
.card__button--film{
    background-color: transparent;
    width: 150px;
    color: red;
}
.card__button--film:hover{
    background-color: red;
    color: black;
}
.form__insert{
    position: fixed;
    top: 300px;
    right: 20px;
    width: 140px;
    z-index: 100;
}
.card__button--insert{
    border: 0;
    background: rgb(247,215,86);
    background: linear-gradient(90deg, rgba(247,215,86,1) 0%, rgba(247,215,86,1) 0%, rgba(86,247,237,1) 100%);

}
.card__link{
    color: red;
    width: 200px !important;
    overflow: hidden;
    text-align: right;
}
.card__icon{
    color: red;
    top: 5px;
    transition: all 0.3s ease;
}
.card__button:hover .card__link{
    opacity: 0;
    color: black;
}
.card__button:hover .card__icon{
    transform: translate(50%) scale(1.3);
}

/* actors */
.card__footer{
    width: 477px;
    border-top: 1px solid white;
}
.actor__name{
    bottom: 0;
    height: 40px;
}
.actor__avatar{
    -webkit-text-stroke-width: 100%;
    height: 100px;
}
.actor__name{
    font-size: 0.8rem;
    color: black;
}