
.seo_title{
    color: white;
    width: 100%;
    border-bottom: 2px solid white;
    margin-top: 40px;
    margin-left: 20px;
}
.seo_text{
    margin-left: 20px;
    color: white;
}
.seo_list{
    width: 100%;
    color: white;
    /* max-width: 800px; */
    width: 100%;
}
.seo_item{
    margin-top: 40px;
}
.seo_img{
    width: 100%;
}
